{% extends "base.html" %}

{% block content %}

    {% if posts %}

        {% for post in posts %}
            <a href="{{ url_for('post', post_id=post['id']) }}">
                <h2 class="card-title mt-4">{{ post.title }}</h2>
            </a>
            <div class="badge badge-info">By {{ post.author.username }}</div>
            <div class="card-body">{{ post.body }}</div>
            <a href="{{ url_for('post', post_id=post['id']) }}" class="badge badge-secondary">{{ post.comments_number }} comments</a>
         {% endfor %}
    {% else %}
        <div class="card-body">
            Nothing to display. Load data to database first on <a href="{{ url_for('manage') }}">manage </a> page
        </div>
    {% endif %}
{% endblock %}
