{% extends "base.html" %}

{% block content %}
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    <script type=text/javascript>
        $(function() {
          $('a#fetch').bind('click', function() {
            $.getJSON('/fetch',
                function(data) {
                    $('#message').html(data.message)
            });
            return false;
          });
        });
        $(function() {
          $('a#reset').bind('click', function() {
            $.getJSON('/reset',
                function(data) {
                    $('#message').html(data.message)
            });
            return false;
          });
        });
    </script>

    <div id='message' class="alert alert-primary" role="alert"></div>

    <div class='container'>
        <form>
            <a href=# id=fetch><button class='btn btn-success'>Fetch data and save it to database</button></a>
        </form>
        <p>
        <form>
            <a href=# id=reset><button class='btn btn-danger'>Purge all data from database</button></a>
        </form>

    </div>
{% endblock %}
