{% extends 'base.html' %}

{% block content %}
    <h2>{{ post['title'] }}</h2>
    <div class="badge badge-info">By {{ post.author.username }}</div>
    <div class="card-body">{{ post.body }}</div>
    <div class="badge badge-secondary">Comments:</div><br>
    {% for comment in post.comments %}
        <div class="container p-3">
            <div class="badge badge-info">{{ comment.email}} wrote</div>
            <h5 class="card-title">{{ comment.name }}</h5>
            <div class="card-body bg-light" style="font-size:0.7">{{ comment.body }}</div>
        </div>
    {% endfor %}
{% endblock %}
